/*dev4web aleksi*/
body {
    /*font-family: 'Roboto', sans-serif;*/
    font-family: Gilroy, sans-serif;
    background: #ffffff;
}
#header {
    position: relative;
    z-index: 999;
    color: #000000;
    background: transparent;
    box-shadow: 0 0px 0px 0 rgb(0 0 0 / 11%);
}
#wrapper {
    background: transparent;
}
.container {
    max-width: 1200px;
}
@media (min-width: 1200px) {
    .container {
        width: 1200px;
        max-width: 100%;
    }
}
.header-nav {
    height: 40px;
    background: #000000;
    color: white;
}
.header-nav a{
    color: white;
    text-decoration: none;
}
#header a {
    color: #000000;
}
.nn-header-flex {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:40px;
    align-content: center;
}
.nn-header-flex {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:40px;
    align-content: center;
}
.nn-header-left {
    line-height: 40px;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: Gilroy, sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.nn-header-right {
    line-height: 40px;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: Gilroy, sans-serif;
    font-size: 14px;
    font-weight: 400;
}
#header .nn-header-right a{
    line-height: 40px;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: Gilroy, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}
#header, #header .header-top {
    background-color: transparent;
}
.nn-header-top {
    height: 104px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nn-main-menu {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FBF8F4;
    line-height: 60px;
}
#header .nn-main-menu a{
    color: #262020;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
}
#header .nn-main-menu a:hover{
    color: #2a2929 !important;
}
#header .nn-main-menu .sub-menu a[data-depth="1"]{
    color: #000000;
    text-transform: none;
    font-size: 16px;
    font-weight: 500;
}
#header .nn-main-menu .sub-menu a[data-depth="2"]{
    color: #000000;
    text-transform: none;
    font-size: 16px;
    font-weight: 400;
}
.top-menu .sub-menu {
    z-index: 18;
    width: calc(100% - 30px);
    /*min-width: calc(100% - 30px);*/
    max-width: 1200px;
    /*margin-left: 0.9375rem;*/
    visibility: hidden;
    border: none;
    /*box-shadow: 2px 1px 11px 2px rgb(0 0 0 / 10%);*/
    box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 10%);
    opacity: 0;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    background: #FBF8F4;
}
.top-block {
    height: 480px;
    margin-top: 100px;
    margin-bottom: 200px;
}
.top-block h1 {
    font-weight: 400;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -2px;
    color: #262020;
}
.top-block p {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0;
    color: #999999;
    padding: 24px 0;
}
.top-block-left {
    display: flex;
    height: 480px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.top-block-button {
    color: #fff !important;
    background: black;
    border-radius: 4px;
    font-size: 18px;
    line-height: 32px;
    padding: 12px 21px;
    cursor: pointer;
}
.top-block-button:hover {
    color: #B2B2B2; !important;
}
.nn-mt-1 {
    margin-top: 5px;
}
.footer-container p{
    color: #B2B2B2;
    font-size: 18px;
    font-weight: 400;
}
.footer-container .nn-hr {
    padding-bottom: 90px;
    border-bottom: 1px solid #FBF8F4;
}
.footer-container ul > li > a{
    font-size: 20px;
    line-height: 32px;
    color: #ffffff;
}
.footer-container ul > li > a:hover{
    color: #B2B2B2;
}
.nn-footer-bottom {
    color: #B2B2B2;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    padding: 42px 0;
}
.nn-footer-bottom > div{
    padding:0;
}
.nn-footer-bottom > div:not(:first-child){
    text-align: right;
}
.nn-footer-bottom a {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
.nn-footer-bottom a:hover {
    color: #B2B2B2;
}
.home-categories-block {
    text-align: center;
    margin-top: 150px;
}
.row-row > div > a > img {
    width: 100%;
    opacity: 1;
    transition: opacity 0.3s;
}
.row-row > div > a > img:hover{
    opacity: 0.8;
}
.row-row > div > a > img:hover .cat-name a{
    color: #B2B2B2;
}
.row-row {
    padding-left: 1px;
    padding-right: 1px;
}
.row-row > div:hover .cat-name a{
    color: #B2B2B2;
}
.home-categories-block .row-row > div {

    padding: 0 14px;
}
.home-categories-block .cat-name a {
    color: #262020;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: -2px;
    transition: color 0.3s;
}
.home-categories-block .cat-name {
    margin-top: 1em;
    margin-bottom: 0;
}
.home-categories-block .cat-name a:hover {
    color: #B2B2B2;
}
.quick-view > img:hover {
    opacity: 0.8;
}
/*slick*/
/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    /*display: block;*/
    display: inline-block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}
/*end slick*/
/*.slick-slide {*/
/*    width: 300px;*/
/*    min-width: 300px;*/
/*    max-width: 300px;*/
/*}*/
#left-column {
    padding-left:0;
    max-width: 21%;
}
.left-column {
    min-width: 79%;
}
.nn-cat-menu-head {
    display:none;
}
@media only screen and (max-width: 600px) {
    .nn-cat-menu-head {
        display: block;
    }
}
.thumbnail-container {
    border: 1px solid #f2f2f2;
}
.product-description {
    padding: 0 10px;
}
.nn-add-to-cart:hover {
    opacity: 0.8;
}
#_desktop_user_info {
    display:none;
}

.top-menu .category a[data-depth="1"] {
    font-weight: 500;
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
    margin-bottom: 10px;
}
.top-menu .category a[data-depth="2"] {
    font-weight: 400;
    padding: 0 0.225rem 0.225rem 0;
}
.popover {
    padding-bottom: 30px;
}
.nn-cart-bubble {
    position: absolute;
    top: 30px;
    right:5px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    border-radius: 100%;
    background: #262020;
    font-weight: normal;
    font-size: 11px;
    color: #fff;
}
.bubble-inner {
    display:flex;
    justify-content: center;
}
.cart-products-count {
    font-size: 11px;
    color: #fff;
}
#header .header-nav #user-info-cart {
    margin: 0 0 0 1rem;
    vertical-align: middle;
    cursor: pointer;
    line-height: 43px;
}
.nn-cart-bubble-mobile {
    position: absolute;
    top: 10px;
    right:5px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    border-radius: 100%;
    background: #fff;
    font-weight: normal;
    font-size: 11px;
    color: #262020;
}
.bubble-inner-mobile {
    display:flex;
    justify-content: center;
}
.cart-products-count-mobile {
    font-size: 11px;
    /* color: #262020; */
    color: white;
    position: absolute;
    top: 0;
    right: 0.7rem;
}
#mobile-search-block {
    max-width: 80%;
    margin: 0 auto;
}
#mobile-search-block input{
    border-bottom: 1px solid #262020;
    width: 100%;

}
#search_widget .mobile-submit {
    border: none;
    background: transparent;
    display:none;
}
#search_widget .mobile-submit::after {
    content: '\1F50D';
}
#field-alias {
    display: none;
}
.mobile-header {
    margin: 5px 5px 5px auto;
    display: none;
}

.mobile-header-menu-bottom {
    display: none;
    margin: 50px auto;
}
.nn-slider-desktop {
    position: relative;
    height:100%;
    max-height: 1400px;
    width: 100%;
    margin:0 0 auto 0;
}
.nn-slider-desktop-item {
    height:100%;
    max-height: 1400px;
    width: 100%;
    margin:0;
    position: relative;
}
.nn-slider-desktop-item .img-item{
    height:auto;
    max-height: 1400px;
    width: 100%;
    max-width: 100vw;
    margin:0;
}

.nn-slider-inner {
    position: absolute;
    max-width: 1200px;
    left:10%;
    top:25%;
    z-index: 999999;
}
.banner-btn{
    background: #262020;
    border-radius: 6px;
    line-height: 42px;
    padding: 15px 25px;
    color: #fff;
    font-size: 21px;
}
.banner-btn:hover{
    background: #2c2626;
    color: #fff;
}
.desktop-slider-section {
    display: block;
    position: relative;
}
.nn-mobile-logo {
    text-align: center;
    display:none;
}
.little-banner-mobile {
    display:none;
    margin: 0 auto 100px auto;
    /*padding-top: 15px;*/
    /*padding-bottom:25px;*/
    /*background-color: #FBF8F4;*/
}
.little-banner-mobile p{
    max-width: 588px;
    font-weight: 400;
    font-size: 26px;
    line-height: 28px;
    letter-spacing: -2px;
    color: #262020;
    white-space: normal;
    text-align: center;
}
.little-banner-mobile a{
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #262020;
    text-decoration: none;
    border-bottom: 1px solid #262020;
    padding-bottom: 8px;
    text-align: center;
    margin: 20px auto;
}
.tas-mobile-logo {
    height: 30px;
    width: auto;
}
.mobile-slider-section {
    display: none;
    position: relative;
}
.nav-prev-mobile-slider {
    position:absolute;
    top: 42%;
    left: 0;
}
.nav-next-mobile-slider {
    position:absolute;
    top: 42%;
    right: 0;
}
.nn-slider-mobile-item {
    position: relative;
    width: 100vw;
    height: content-box;
}
.nn-slider-mobile-item img{
    max-width: 100vw;
    height: auto;
    opacity:1;
}
.nn-slider-mobile-inner {
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 10%;
    /*background: rgba(255, 255, 255, 0.4);*/
    text-align: center;
}
@media only screen and (min-width: 1600px) {
    .nn-slider-desktop {
        height: 100%;
        max-height: 1400px;
    }
}

@media only screen and (min-width: 992px) {
    .nn-user-block {
        min-width: 15.63rem;
        text-align: right;
    }
}

@media only screen and (max-width: 600px) {
    .footer-container .col-sm-12:not(:first-child) {
        margin-top: 25px;
    }
    .footer-container .col-sm-12:first-child {
        margin: 1px auto;
        text-align: center;
    }
    .nn-hr .col-sm-12:first-child {
        margin: 1px auto 35px auto;
        text-align: center;
    }
    .nn-footer-bottom {
        padding: 10px 15px;
    }
    .nn-hr {
        padding-bottom: 15px;
        border-bottom: none;
    }
    .cat3 .row {
        margin-left: auto;
        margin-right: auto;
    }
    .nn-cat-head {
        margin: 10% auto 10% auto;
        padding: 0;
    }
    #products .thumbnail-container, .featured-products .thumbnail-container, .product-accessories .thumbnail-container, .product-miniature .thumbnail-container{
        margin-left: auto;
        margin-right: auto;
    }
    .nn-header-flex {
        display:block;
        height:60px;
    }
    #header .header-nav {
        max-height: 60px;
        border-bottom: #f6f6f6 2px solid;
    }

    .header-nav {
        height: 60px;
        background: #000000;
        color: white;
    }
    #header .header-nav #menu-icon .material-icons {
        line-height: 60px;
        font-size: 32px;
    }
    #search_widget .mobile-submit {
        display:block;
        position: absolute;
        top: 10px;
    }
    #mobile-search-start {
        display:none;
    }
    .mobile-header {
        display: block;
    }
    .mobile-header-menu-bottom {
        display: block;
    }
    .banner-btn{
        background: #262020;
        border-radius: 4px;
        line-height: 42px;
        padding: 15px 25px;
        color: #fff;
        font-size: 21px;
    }
    /*.nn-slider-inner {
        left:10%;
        top:15%;
    }*/
    .nn-slider-desktop {
        display: none;
    }
    .desktop-slider-section {
        display:none;
        position: relative;
    }
    .nn-mobile-logo{
        display: block;
    }
    .little-banner {
        display: none;
    }
    .little-banner-mobile {
        display: block;
    }
    .mobile-slider-section {
        display: block;
    }
}
@media only screen and (max-width: 360px) {
    .tas-mobile-logo {
        height: 20px;
    }
}
